name: Validate ARM Template

on:
  # Triggers the workflow on push or pull request to the main branch
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
      
permissions:
  id-token: write
  contents: read
jobs:
  validate-template:
    runs-on: ubuntu-latest

    steps:
      # Step 1: Checkout the repository
      - name: Checkout code
        uses: actions/checkout@v3

      # Step 2: Log in to Azure using a Service Principal
      - name: Log in to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      # Step 3: Validate ARM Template Syntax using Azure CLI
      - name: Validate ARM Template Syntax
        run: |
          az deployment group validate \
            --resource-group <resource-group> \
            --template-file ./Azure_ARM_Template \
            --parameters @./Azure_ARM_Template.parameters
